/**--- Base Element Styles ---**/
* {

}

body {

}

p {

}

h1, h2, h3 {

}

a {

}

figcaption {
	/*background: red;*/
	/*margin: 0 auto;*/
	/*overflow: hidden;*/
	/*position: absolute;*/
	text-align: center;

	/*left: 25%;*/
	/*top: 150%;*/
}


/*--- Base Layout Styles ---*/
.main-navigation {

}

.main-navigation a {

}

.main-navigation a:hover {

}

.main-city-img, img {
	border-radius: 10%;
	margin: 0 auto;
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}


/*--- Media Queries ---*/

/*--- Mobile Device Query ---*/
@media screen and (min-width: 320px) and (max-width: 649px) {
	.container {
		margin: 0 auto;
		width: 100%;
	}
}


/*--- Ipad/ChromeBook Device Query ---*/
@media screen and (min-width: 650px) and (max-width: 1023px) {
	.container {
		margin: 0 auto;
		width: 100%;
	}
}

/*--- Laptop/Desktop Query ---*/
@media (min-width: 1024px) {
	.container {
		margin: 0 auto;
		width: 90%;
	}

	.subheader-image {
		width: 50%;
	}

}

